.participant {
  display: flex;
  justify-content: center;
}

.btnContainer {
  width: 160px;
  display: flex;
  justify-content: space-between;
}
.trackStart {
  width: 6%;
  background: url('../../public/startline.png');
  background-size: 80px;
  background-repeat: no-repeat;
  border-top: solid 2px;
}
.trackFinish {
  width: 6%;
  background: url('../../public/finishline.png');
  background-size: 80px;
  background-repeat: no-repeat;
  border-top: solid 2px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding-right: 3px;
}
.carName {
  margin: 0;
  padding-left: 10px;
  border-top: solid 2px;
  font-size: 28px;
  display: flex;
  align-items: center;
  width: 65%;
}

@media screen and (max-width: 1150px) {
  .trackFinish,
  .trackStart {
    background-size: cover;
  }
  .carName {
    width: 50%;;
  }
}
@media screen and (max-width: 740px) {
  .trackFinish,
  .trackStart {
    width: 8%;
  }
}
@media screen and (max-width: 600px) {
  .btnContainer {
    width: 110px;
  }
  .carName {
    font-size: 14px;
  }
}
@media screen and (max-width: 520px) {
  .trackFinish,
  .trackStart {
    width: 10%;
  }
}