.trackControl {
  display: flex;
  justify-content: space-around;
}
.raceButtons {
  button {
    margin-left: 5px;
  }
}
@media screen and (max-width: 660px) {
  .raceButtons {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }
}
@media screen and (max-width: 600px) {
  .raceButtons {
    gap: 46px;
  }
}